* {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

html,
body {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  color: rgb(236, 236, 236);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #0ec44a);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a,
a:active {
  text-decoration: none;
  color: whitesmoke;
}

#content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#particles-js {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#head {
  font-size: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

#main {
  font-size: 35px;
  font-weight: 200;
  padding: 20px;
  margin-top: -70px;
  max-width: 70%;
}

button {
  border: none;
  outline: none;
}

button:hover {
  border: none;
  outline: none;
}

#projects {
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  border-radius: 30px;
  background: transparent;
}

#projects:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

#media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

#media-buttons > a {
  margin: 25px;
  padding: 15px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: transparent;
  display: inline-block;
  border-radius: 50%;
}

#linkedin:hover {
  background-color: #2872a3;
}

#github:hover {
  background-color: #7d2a7c;
}

#mail,
#mail:hover {
  font-size: 17px;
  background-color: firebrick;
}

#facebook:hover {
  background-color: #4267b2;
}

#instagram:hover {
  background: linear-gradient(45deg, #fccc63, #e95950, #a841e4);
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  #head {
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  #main {
    font-size: 25px;
    font-weight: 200;
    padding: 20px;
    margin-top: -70px;
    max-width: 70%;
  }

  #media-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
  }

  #media-buttons > a {
    margin: 5px;
    padding-right: 18px;
    padding-left: 18px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
  }
}
